.projet {
  width: 600px;
  margin-left: 17%;
  padding: 1.1rem;
  display: flex;
  gap: 10%;

  p {
    font-size: 17px;

    strong {
      font-size: 17px;
    }
  }
}
.pro {
  text-align: center;
}
