@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
* {
  font-family: "EB Garamond", serif;
}

body {
  width: 50%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.Nav {
  margin: 0 auto;
  width: 75%;
}

.Nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 650px;
  height: 20%;
  border: solid 1px black;
  border-radius: 50px;
}

.Nav ul li {
  color: black;
}

.Nav ul li:hover {
  color: blue;
}

.contact {
  border: solid 1px black;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  font-size: 20px;
}

.contact .Name {
  padding: 1.1rem;
}

.contact .Info {
  padding: 1.1rem;
}

.contact .Info a {
  color: black;
  text-shadow: 1px 6px 5px;
}

.contact .Info a:hover {
  color: blue;
}

.contact2 h1 {
  margin-top: 15%;
}

.projet {
  width: 600px;
  margin-left: 17%;
  padding: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10%;
}

.projet p {
  font-size: 17px;
}

.projet p strong {
  font-size: 17px;
}

.pro {
  text-align: center;
}
